<div class="card card-outline card-primary">
  <div class="card-header">
    <h3>Perfil del usuario</h3>
  </div>
  <div class="perfil-container" *ngIf="usuario">
    <div class="foto-container">
      <img [src]="fotoUrl" alt="Foto del usuario" class="foto-usuario"/>
    </div>

    <div class="informacion-container">
      <h2>Información del Usuario</h2>
      <div class="info-card">
        <span><strong>DNI:</strong> {{ usuario.dni! }}</span>
      </div>
      <div class="info-card">
        <span><strong>Teléfono:</strong> {{ usuario.telefono! }}</span>
      </div>
      <div class="info-card">
        <span
          ><strong>Nombre:</strong> {{ usuario.nombre! }}
          {{ usuario.apePaterno! }} {{ usuario.apeMaterno! }}</span
        >
      </div>
      <div class="info-card">
        <span><strong>Correo Electrónico:</strong> {{ usuario.email! }}</span>
      </div>
      <div class="info-card">
        <span
          ><strong>Rol del Usuario:</strong> {{ usuario.descripcionRol! }}</span
        >
      </div>
    </div>
  </div>
</div>
