<div class="perfil-container">
    <!-- Sección de la foto del usuario -->
    <div class="foto-container">
      <img src="../../../assets/imagenes/personal-image/user.jpg" alt="Foto del Usuario" />
    </div>
  
    <!-- Sección de la información del usuario -->
    <div class="informacion-container">
      <h2>Información del Usuario</h2>
      <ul>
        <li><strong>DNI:</strong> {{ dniUsuario }}</li>
        <li><strong>Teléfono:</strong> {{ telefonoUsuario }}</li>
        <li><strong>Nombre:</strong> {{ nombreUsuario }} {{ apellidoPaternoUsuario }} {{ apellidoMaternoUsuario }}</li>
        <li><strong>Correo Electrónico:</strong> {{ correoUsuario }}</li>
        <li><strong>Rol del Usuario:</strong> {{ rolUsuario }}</li>
      </ul>
    </div>
  </div>