<div class="container mt-4">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-between mb-3">
        <h2 class="text-secondary">Lista de Roles</h2>
        <button class="btn btn-success" (click)="abrirModalCrear()"> <i class="fa fa-plus me-1"></i> Crear Rol</button>
      </div>
      
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr class="bg-primary text-white">
              <th>ID</th>
              <th>Descripción</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rol of roles">
              <td>{{ rol.idrol }}</td>
              <td>{{ rol.descripcion_rol }}</td>
              <td>
                <button class="btn btn-primary me-1" (click)="abrirModalEditar(rol)" title="Editar">
                  <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-danger" (click)="eliminarRol(rol.idrol)" title="Eliminar">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
  
  <!-- Modal de Creación de Rol -->
  <ng-template #modalCrear>
    <div class="modal-header">
      <h4 class="modal-title">Crear Rol</h4>
      <button type="button" class="close" aria-label="Close" (click)="cerrarModalCrear()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="rolCrearForm" (ngSubmit)="crearRol()">
        <div class="form-group">
          <label for="descripcionRolCrear">Descripción del Rol</label>
          <input type="text" class="form-control" id="descripcionRolCrear" formControlName="descripcion_rol" placeholder="Ingrese Descripción">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="cerrarModalCrear()">Cerrar</button>
          <button type="submit" class="btn btn-primary">Crear</button>
        </div>
      </form>
    </div>
  </ng-template>
  
  <!-- Modal de Edición de Rol -->
  <ng-template #modalEditar>
    <div class="modal-header">
      <h4 class="modal-title">Editar Rol</h4>
      <button type="button" class="close" aria-label="Close" (click)="cerrarModalEditar()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="rolEditarForm" (ngSubmit)="editarRol()">
        <input type="hidden" formControlName="idrol">
        <div class="form-group">
          <label for="descripcionRolEditar">Descripción del Rol</label>
          <input type="text" class="form-control" id="descripcionRolEditar" formControlName="descripcion_rol" placeholder="Ingrese Descripción">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="cerrarModalEditar()">Cerrar</button>
          <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </form>
    </div>
  </ng-template>

  <!-- Modal de Error -->
<ng-template #errorModal>
    <div class="modal-header">
      <h5 class="modal-title">Error</h5>
      <button type="button" class="close" (click)="modalErrorRef.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Este rol le pertenece a varios usuarios, borre los usuarios para eliminar el rol
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalErrorRef.hide()">Cerrar</button>
    </div>
  </ng-template>