/* .login-box {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
/* .container {
  max-width: 400px;
}

.card {
  border-radius: 10px;
}

.btn-primary {
  background-color: #6C63FF; /* Utiliza el color que prefieras 
  border: none;
} 
*/

.login-container {
  height: 100vh;
  background: #ececec; /* Fondo de la pantalla completa */
}

.login-form {
  width: 100%;
  max-width: 320px;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form .btn.login-btn {
  background-color: #6C63FF; /* O el color que corresponda con tu diseño */
  border: none;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
}

.login-form .form-control {
  border-radius: 20px;
  border: 1px solid #ced4da; /* O el color que corresponda con tu diseño */
}

.login-form .form-control:focus {
  border-color: #6C63FF; /* O el color que corresponda con tu diseño */
  box-shadow: none;
}

.login-form h3 {
  color: #333; /* O el color que corresponda con tu diseño */
}

.form-check-label {
  color: #6c757d; /* O el color que corresponda con tu diseño */
}

.forgot-password-link {
  display: block;
  margin-top: 12px; /* Ajusta el espaciado como sea necesario */
  color: #6C63FF; /* Color del enlace, puede ser el mismo que el botón de inicio de sesión */
  text-decoration: none; /* Si no quieres que el enlace esté subrayado */
}

.forgot-password-link:hover {
  text-decoration: underline; /* Si quieres que se subraye al pasar el ratón por encima */
}

/* Asegúrate de que el ícono del ojo no interfiera con el texto ingresado */
.form-control {
  padding-right: 30px; /* Ajusta según el tamaño de tu ícono */
}

/* Posiciona el ícono del ojo dentro del campo de contraseña */
.bi {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  z-index: 10;
}

.input-group-text {
  background: transparent;
  border: none;
  color: #495057; /* Cambia este color según sea necesario */
}

.fa-fa-eye, .fa-fa-eye-slash {
  cursor: pointer;
}

.icon-container {
  display: inline-block;
  padding: 10px; /* Ajusta el relleno según tus necesidades */
  background-color: #ddd; /* El color de fondo de tu cuadrado */
  border: 1px solid #ccc; /* El color y estilo del borde */
  border-radius: 4px; /* Si quieres bordes redondeados */
  
  /* Centrar ícono vertical y horizontalmente */
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* Tamaño del cuadrado */
  width: 40px; /* Ajusta el ancho según tus necesidades */
  height: 40px; /* Ajusta la altura según tus necesidades */
}